body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}

.menu{
	width: 150px;
	height: 75px;
	margin: 10px;
	padding-top: 25px;
}
.blue{
	color: #3382CD !important;
}

.title{
	font-weight: bold;
	font-size: 15px;
}

.center{
	text-align: center;
}

.content{
	padding: 10px;
}

.form_label{
	width: 20%;
}

.form_input{
	width: 50% !important;
}

textarea{
	height: 100px !important;
}

table{
	width: 100%;
}

thead{
	background: #f5f5f5;
	border: 1px solid #ddd;
	font-weight: bold;
}

.btn-list{
	width: 1%;
}